@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

body{
    background: #16161A;
    font-family: "DM Sans", sans-serif;
    
}

.star{
    transform: translateX(-8px);
}

.banner{
    z-index: 10px;
    width: 2000px;
    height: 660px;
}

.search{
    max-width: 20px;
    display: flex;
    position: absolute;
}

.advisor{
    font-weight: 500;
    font-size: 40px;
    margin-left: 120px;
    margin-top: 100px;
}

.tl1{
    margin-top: 146px;
    margin-left: 240px;
    font-weight: lighter;
    font-size: 15px;
    }

.info{
    max-width:790px;
    max-height: 73%;
    margin-top: 61px;
}